$mainBackgroundColor: #e1f3f8;
// @import './settings.scss';

main {
  padding-bottom: 250px;
  // background-color: $theme-color-primary-light;
  background-color: $mainBackgroundColor;
}

#footer {
  margin-top: -200px;
}

#NavMenuButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
