main {
  padding-bottom: 250px;
  background-color: $theme-color-primary-light;
}

#footer {
  margin-top: -200px;
}

#NavMenuButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
